.grid {
  display: grid;
  gap: 10px;
  margin-top: 20px;
  padding: 5px;

  /* grid-template-columns: repeat(3, 1fr); */

  grid-template-areas:
    "first second second"
    "first third fourth"
    "fifth fifth sixth";
}

.grid > * {
  /* border: 1px solid; */
  border-radius: 10px;
  padding: 10px;
}

.grid img {
  max-width: 200px;
}

.grid h2 {
  font-size: 1.5rem;
  font-weight: 600;
}
.item1 {
  grid-area: first;
  display: flex;
  flex-direction: column;
  background-color: #c3b1e8;
}
.item2 {
  grid-area: second;
  background-color: #f580a3;
}
.item3 {
  grid-area: third;
  background-color: #c5d58c;
}
.item4 {
  grid-area: fourth;
  background-color: #fede6f;
}
.item5 {
  grid-area: fifth;
  background-color: #f7a374;
}
.item6 {
  grid-area: sixth;
  background-color: #b7cddb;
}

@media (max-width: 750px) {
  .grid {
    grid-template-areas:
      "first"
      "second"
      "third"
      "fourth"
      "fifth"
      "sixth";
  }
}
