.grid {
  display: grid;
  gap: 10px;
  margin-top: 20px;
  padding: 5px;

  margin-bottom: 20px;

  /* grid-template-columns: repeat(3, 1fr); */

  grid-template-areas:
    "first second second"
    "first third fourth"
    "fifth fifth sixth";
}

.grid > * {
  /* border: 1px solid; */
  border-radius: 10px;
  padding: 10px;
}

.grid h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.grid p {
  margin-top: 10px;
}

.grid img {
  /* width: 100%; */
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 10px;
}

.item1 {
  grid-area: first;
  display: flex;
  flex-direction: column;

  background-color: var(--grey);
}
.item2 {
  grid-area: second;
  background-color: var(--grey);
}
.item3 {
  grid-area: third;
  background-color: var(--grey);
}
.item4 {
  grid-area: fourth;
  background-color: var(--grey);
}
.item5 {
  grid-area: fifth;
  background-color: var(--grey);
}
.item6 {
  grid-area: sixth;
  background-color: var(--grey);
}

@media (max-width: 750px) {
  .grid {
    grid-template-areas:
      "first"
      "second"
      "third"
      "fourth"
      "fifth"
      "sixth";
  }
}
