footer {
  background-color: var(--grey);
  color: var(--black);

  text-align: center;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  z-index: 100;
}

.footerDiv {
  overflow: hidden;
}

.footerFont {
  font-family: DynaPuff;
  font-size: clamp(4rem, 18vw, 12rem);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px var(--black);
  /* transform: translateY(50%); */
}
